
.button {
    box-sizing: border-box;
    position: relative;

    padding: 10px;

    cursor: pointer;

    transition: all 100ms;

    max-height: 78px;
    width: 100%;
}

.buttonText {
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 20%);
    font-family: DescentFont, sans-serif;
}

.hero {
    background-color: transparent;
    background-size: 100%;

    border: 20px solid;
    border-image: url('/src/assets/img/buttons/hero/border.png') 100 / 35px round;

}

.blue, .red {
    color: hsl(0, 0%, 100%);

    border-top: 10px solid;
    border-bottom: 10px solid;
    border-left: 20px solid;
    border-right: 20px solid;

    border-image: url('/src/assets/img/buttons/simble-border.png') 58 / 35px round;

    /*box-shadow: ;*/
    filter: drop-shadow(0 5px 20px rgba(22, 52, 91, 1));
    background: radial-gradient(circle, rgba(53, 61, 173, 1) 30%, rgba(22, 52, 91, 1) 100%) padding-box;
}

.red {
    filter: drop-shadow(0 5px 20px rgba(32, 2, 4, 1));
    background: radial-gradient(circle, rgba(133, 19, 12, 1) 30%, rgba(32, 2, 4, 1) 100%) padding-box;
}

.outlineRed {
    color: hsl(0, 0%, 100%);
    border: 16px solid;

    border-image: url('/src/assets/img/buttons/outline-red.png') 40 / 30px round;

    filter: drop-shadow(0 5px 20px rgba(31, 59, 65, 1));
    background: radial-gradient(circle, rgba(31, 59, 65, 1) 0%, rgba(11, 20, 25, 1) 99%) padding-box;
}

.bgImage {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.simple {
    height: 50px;
}