
.itemLine {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    grid-column-gap: 4px;
}

.buttonColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    row-gap: 25px;
}

.br {
    display: flex;
    align-items: center;

    height: 100%;
    width: 40px;

    background-color: hsl(0, 0%, 100%);
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    font-family: DescentFont, sans-serif !important;
    justify-content: center;

    box-sizing: border-box;

    padding: 0 8px;
}