
.itemLine {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    grid-column-gap: 8px;
}

.buttonColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    row-gap: 25px;
}

.br {
    display: flex;
    align-items: center;
    justify-content: center;
}