
.listRow {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
}

.checkbox {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
}
