
.formColumn {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;

    width: 100%;
}

.heroType {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 12px;

    width: 100%;
}