
.select {
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 20%);

    font-family: DescentFont, sans-serif !important;
}

.formColumn {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;

    width: 100%;
}

.heroType {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 12px;

    width: 100%;
}