
.accordion {
    width: 100%;
    height: fit-content;
}

.accordion:first-child {
    display: grid;
    grid-row-gap: 15px;
}

.item-default {
    border-bottom: 1px solid #ccc;
}

.itemBtn-default {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: center;

    width: 100%;
    margin: 0;
    padding: 1rem;

    font-size: 21px;
    text-align: left;
    color: hsl(0, 0%, 20%);
    font-family: DescentFont, sans-serif !important;

    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.itemBtn-default:disabled {
    background-color: #9d8282;
}

.itemBtnExpanded-default {
    background-color: #eaeaea;
}

.itemContent-default {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel-default {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;

    padding: 15px 10px;

    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px;
}

.chevron-default {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded-default .chevron-default {
    transform: rotate(180deg);
}


.itemBtn-buttonWithOptions {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
}