
.root {

}

.hero-container {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 4px;

    min-width: 500px;
    max-width: 500px;
    min-height: 480px;
}

.hero-container-mobile {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 4px;

    width: 100%;
    height: auto;
}

.szh-accordion__item-content {
    transition: all 200ms;
}

.checkboxLine {
    display: grid;
    grid-template-columns: auto 1fr 42px 50px;
    grid-column-gap: 4px;
}

.br {
    display: flex;
    align-items: center;
    justify-content: center;
}

