
.listRow {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 4px;
}

.checkbox {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
}

.monsterTranslateIcon {
    width: fit-content;

    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    box-sizing: border-box;

    padding: 0 8px;
}

.translateIcon {
    display: flex;
    align-items: center;

    height: 100%;

    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    box-sizing: border-box;

    padding: 0 8px;
}

.translateIconDisabled {
    opacity: 0.3;
    pointer-events: none;
}
