
.modalRoot {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 100vh;
    padding: 77px 15px 25px;

    background: rgba(0, 0, 0, 0.7);

    touch-action: none;
}

.modalContent {
    height: auto;
    width: 100%;
}

.closeIcon {
    position: absolute;
    right: 12px;
    top: 14px;

    background-color: white;
    border-radius: 50px;
}