
.modalRoot {
    box-sizing: border-box;

    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 100vh;
    padding: 77px 15px 25px;

    background: rgba(0, 0, 0, 0.5);
}