
.flipCard {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardRotated {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flipCardFront {
    transform: rotateY(0deg);
}

.flipCardBack {
    transform: rotateY(180deg);
}

.cardRoot {
    width: 100%;

    border-radius: 25px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContent {
    position: relative;

    width: 100%;
    height: 100%;
}

.cardDataTable {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    row-gap: 1%;
    height: 100%;
    width: 100%;

    z-index: 1;
}

.cardHeader {
    height: 31%;
}

.cardHeaderStats {
    display: grid;
    grid-template-columns: 34% 32% 34%;
    align-items: center;

    width: 100%;
    height: 12%;
}

.cardHeaderAbilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 15%);
    font-family: DescentFont, sans-serif !important;

    height: 11%;
}

.abilityItem {
    display: flex;
    align-items: center;
}

.middleBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 36%;
}

.cardAttackTypeAndAct {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 25%;
}

.cardAct {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;

    font-size: 26px;
}

.cardMonsterName {
    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 15%);
    font-family: DescentFont, sans-serif !important;

    margin-bottom: 3%;
}

.cardHeaderAttackDice {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1px;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 15%);
    font-family: DescentFont, sans-serif !important;

    height: 6%;
}

.cardText {
    display: flex;
    justify-content: flex-end;

    font-size: 26px;
    text-align: center;
    color: hsl(0, 0%, 100%);

    font-family: DescentFont, sans-serif !important;

    margin-right: 25%;
}

.cardDefenceDice {
    display: flex;
    justify-content: flex-end;

    margin-right: 15%;
}

.backgroundImg {
    width: 100%;
    height: 100%;

    border-radius: 25px;

    z-index: 0;
}

.backCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3% 11% 0;
    height: 13%;
}

.backCardMonsterName {
    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 15%);
    font-family: DescentFont, sans-serif !important;

    height: 5%;
}

.backCardAbilities {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 10% 10%;

    height: 58%;
}

.backCardCount {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15%;
    justify-content: space-between;
    padding: 0 7%;

    height: 10%;

    font-size: 16px;
    color: hsl(0, 0%, 15%);
    font-family: DescentFont, sans-serif !important;
}

.backCardCountSize {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}