
.defaultMonsterLine {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-column-gap: 8px;
}

.openGroupMonsterLine {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-column-gap: 8px;
}

.br {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}